@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9F7F1;
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
